Options +FollowSymlinks
RewriteEngine On

#Gestion de la page d'acceuil
DirectoryIndex web/index.php

#Pour le repertoire ordonance
RewriteRule ^ordonnance[s]?[\/]([A-Za-z]+)$ web/ordonnance/index.php?lien=$1 [L]
RewriteRule ^ordonnance[s]?[\/]?$ webordonnancet/index.php [L]

#Pour le repertoire patient/
RewriteRule ^patient[s]?[\/]([A-Za-z]+)_([A-Za-z]+)$ web/patient/index.php?lien=detail&nom=$1&prenom=$2 [L] 
RewriteRule ^patient[s]?[\/]([A-Za-z]+)$ web/patient/index.php?lien=$1 [L]
RewriteRule ^patient[s]?[\/]?$ web/patient/index.php [L]

#Pour le repertoire visite/
RewriteRule ^visite[s]?[\/]([0-9]+)$ web/visite/index.php?lien=detail&id=$1 [L]
RewriteRule ^visite[s]?[\/]([A-Za-z]+)$ web/visite/index.php?lien=$1 [L]
RewriteRule ^visite[s]?[\/]?$ web/visite/index.php [L]


#Si l'url n'as pas été prise, on l'envoie à l'index
RewriteRule ^([A-Za-z]+)[\/]?$ web/index.php?lien=$1 [L]

