.float {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

table
{
	border: 3px solid #CCC;
}

tr.lien:hover
{
	cursor : pointer;
}

tr.lien a,
tr.lien a:hover,
tr.lien a:focus
{
	color :#666;
	text-decoration : none;
}

td, th
{
	border: 2px solid #CCC;
}
