.float {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

form.new{
	width: 90%;
}

textarea{
	resize:none;
}

.tableau
{
	border: 3px solid #CCC;
}

tr.lien:hover
{
	cursor : pointer;
}

tr.lien a,
tr.lien a:hover,
tr.lien a:focus
{
	color :#666;
	text-decoration : none;
}

.tableau td, th
{
	border: 2px solid #CCC;
}
